@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

*{
  font-family: Poppins;
}

#content{
  padding-left: 40px;
}
#navigation{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin: 0;
  font-size: 20 px;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
